ServicioWebGCM/Service References/ServiceReference1/ServicioClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mytest.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mytest.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mytest.com/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistroUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="regGCM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistroUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistroUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodigoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodigoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoUsuarioResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoC2DM" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistroUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CodigoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="CodigoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioClientesSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <wsdl:input message="tns:RegistroUsuarioSoapIn" />
      <wsdl:output message="tns:RegistroUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CodigoUsuario">
      <wsdl:input message="tns:CodigoUsuarioSoapIn" />
      <wsdl:output message="tns:CodigoUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioClientesSoap" type="tns:ServicioClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://mytest.com/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <soap:operation soapAction="http://mytest.com/RegistroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodigoUsuario">
      <soap:operation soapAction="http://mytest.com/CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioClientesSoap12" type="tns:ServicioClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://mytest.com/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <soap12:operation soapAction="http://mytest.com/RegistroUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodigoUsuario">
      <soap12:operation soapAction="http://mytest.com/CodigoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioClientes">
    <wsdl:port name="ServicioClientesSoap" binding="tns:ServicioClientesSoap">
      <soap:address location="http://localhost:56165/ServicioClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioClientesSoap12" binding="tns:ServicioClientesSoap12">
      <soap12:address location="http://localhost:56165/ServicioClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>